@import "./vendor/normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;  
    }

    nav{
        padding:12px;
        height: 50px;

        .container {
            display: inline-block;
            cursor: pointer;
            float: right;
          }
          
          .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
          }
          
          .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
            background-color:rgb(156, 149, 72) ;
          }
          
          .change .bar2 {opacity: 0;}
          
          .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
          }
    }

  .header {
    text-align: center;
    padding: 22px 22px 16px 22px;
        h1{
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 1px;
            word-spacing: 6px;
        }

        .firstname{
            letter-spacing: 5px;
            word-spacing: 8px;

        }

        a{
            color:black;
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;
        }

        p{
            color:rgb(156, 149, 72);
            text-transform: uppercase;
            font-size: 14px;
        }
  
    }


  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;

        img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        }
    } 

    @media (max-width: 1200px) {
        .column {
          flex: 50%;
          max-width: 50%;
        }
      }

      @media (max-width: 400px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }
  